@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    
    <div class="row">
        <div class="col justify-content-center  d-flex align-items-center" style="background-image: url(/Content/DataTables/images/concery-wallpaper-festival-party.jpg); background-repeat:no-repeat;background-position: bottom;height: 1080px;margin-top: -495px;">
            <div style="text-align: center;">
                <h1 style="font-weight: bold;padding-bottom:40px; font-size: 50px;padding-top:600px;color:white; text-transform:uppercase">EventsNTickets App</h1>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" style="text-align:right">
                    <a href="/Artists" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Explore Artists</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" style="text-align:left">
                    <a href="/Events" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Explore Events</a>
                </div>


            </div>
        </div>
    </div>


</div>